<div class="absolute top-20 w-full bg-secondary z-20 font-poppins">  
  <%= render "devise/shared/error_messages", resource: resource %>
</div>
<div class="w-full flex justify-center z-10 h-auto font-poppins">
  <div class="w-[80%] shadow-2xl shadow-secondary bg-tertiary absolute h-72 top-36 rounded-3xl flex justify-center text-center lg:w-[40%]">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "justify-center "}) do |f| %>
      <div class="field flex mt-14">
        
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail", class: "rounded-3xl placeholder:text-center text-md text-center" %>
      </div>

      <div class="field mt-4">
        
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Hasło", class: "rounded-3xl placeholder:text-center text-md text-center"  %>
      </div>

      <div class="field mt-4">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Powtórz hasło", class: "rounded-3xl placeholder:text-center text-md text-center"  %>
      </div>

      <div class="actions w-full mt-6 mb-3 flex justify-center">
        <button class="bg-primary w-36 h-10 font-poppins rounded-xl text-tertiary hover:scale-105 duration-150 delay-75 cursor-pointer"><%= f.submit "Zarejestruj się", class:"cursor-pointer" %></button>
        
      </div>
      <a href="/login" class="text-sm hover:underline">Masz już konto? <span class="underline">Zaloguj się</span>.</a>
    <% end %>
  </div>
</div>
